<h1>Stupid Coaching</h1>

<div class="container">
  <h3 class="ask" class="border-left rounded"><%= params["q"] %></h3>
  <h3 class="answer" class="border-left"><%= @answer %></h3>

  <%= link_to "Ask a new question", ask_path %>

</div>
